[submodule "zipline"]
	path = zipline
	url = https://github.com/quantopian/zipline
[submodule "pybrain"]
	path = pybrain
	url = https://github.com/pybrain/pybrain
[submodule "pyalgotrade"]
	path = pyalgotrade
	url = https://github.com/gbeced/pyalgotrade.git
